* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-smoke: #f5f5f5;
  --black: #121212;
  --dark-green: #283618;
  --green: #606c38;
  --cream: #fefae0;
  --light-brown: #dda15e;
  --dark-brown: #bc6c25;
  --dark-yellow: #21221c;
  --dark-light-yellow: #3c3d36;
}

html {
  font-family: "Roboto", serif;
}

img {
  width: 100%;
}

/* NAVBAR */
.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-yellow);
  padding: 18px 36px;
  width: 100%;
  position: fixed;
}

header .logo {
  color: var(--light-brown);
  font-size: 40px;
  text-decoration: none;
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  gap: 50px;
}

.nav-list li a {
  color: var(--light-brown);
  font-weight: 500;
  text-decoration: none;
}

.nav-button {
  color: var(--dark-yellow);
  font-weight: 600;
  text-decoration: none;
  background-color: var(--light-brown);
  padding: 10px 20px;
  border-radius: 12px;
}

/* INICIO */
#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/barberShop.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.inicio-titulos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  width: 1000px;
}

.inicio-titulos h1 {
  font-size: 64px;
}

.inicio-titulos p {
  font-size: 22px;
}

.inicio-titulos a {
  font-size: 20px;
  background-color: var(--light-brown);
  border-radius: 12px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--white-smoke);
  font-weight: 700;
}

.inicio-titulos hr {
  color: var(--white-smoke);
  height: 3px;
}

/* SOBRE NOSOTROS */

#sobre-nosotros {
  background-color: var(--dark-yellow);
}

.cont-sobre-nosotros {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 50px;
  padding: 60px;
}

.info-sobre {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.info-sobre h2 {
  font-size: 48px;
  color: var(--white-smoke);
}

.info-sobre p {
  font-size: 24px;
  color: var(--white-smoke);
}

.info-sobre a {
  background-color: var(--light-brown);
  border-radius: 12px;
  padding: 8px 16px;
  color: var(--white-smoke);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  width: 300px;
  text-align: center;
}

/* LOCALES */

.locales {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/barberShop.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  padding: 20px;
  gap: 15px;
}

#section-locales {
  background-color: var(--dark-yellow);
}

.locales h2 {
  font-size: 52px;
}

.locales p {
  font-size: 24px;
}

.locales hr {
  color: var(--white-smoke);
  width: 25%;
}

.locales-info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.locales-distritos {
  background-color: var(--dark-light-yellow);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  height: 100%;
  color: var(--white-smoke);
  border: 1px solid #ccc;
  text-align: center;
}

.locales-distritos h2 {
  font-size: 24px;
}

.locales-distritos p {
  font-size: 14px;
}

.locales-distritos img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.locales-distritos a {
  background-color: var(--cream);
  color: var(--dark-light-yellow);
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
}

/* SERVICIOS */

.titulo-servicios {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/barberShop.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  padding: 20px;
  gap: 15px;
}

#servicios {
  background-color: var(--dark-yellow);
}

.titulo-servicios h2 {
  font-size: 52px;
}

.titulo-servicios p {
  font-size: 24px;
}

.titulo-servicios hr {
  color: var(--white-smoke);
  width: 25%;
}

.box-servicios {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.servicio-user {
  background-color: var(--dark-light-yellow);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  height: 100%;
  color: var(--white-smoke);
  border: 1px solid #ccc;
  text-align: center;
}

.servicio-user h2 {
  font-size: 24px;
}

.servicio-user p {
  font-size: 14px;
}

.servicio-user img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.servicio-user a {
  background-color: var(--cream);
  color: var(--dark-light-yellow);
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
}

/* Contacto */

.titulo-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/barberShop.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  padding: 20px;
  gap: 15px;
}

.titulo-contact h1 {
  font-size: 48px;
}

.titulo-contact p {
  font-size: 24px;
}

.titulo-contact hr {
  color: var(--white-smoke);
  width: 25%;
}

#contacto {
  background-color: var(--dark-yellow);
}

.contact-info {
  display: flex;
  padding: 60px;
  justify-content: space-around;
}

.text-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  color: var(--white-smoke);
}

.text-contact h2 {
  font-size: 32px;
  color: var(--light-brown);
}

.text-contact ul {
  list-style: none;
  font-size: 24px;
}

.formulario-section {
  background-color: var(--dark-yellow);
  padding: 80px;
}

label {
  font-weight: bold;
  display: block;
  padding-top: 12px;
  color: var(--light-brown);
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-form {
  background-color: var(--dark-light-yellow);
  color: var(--white-smoke);
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

/* footer */
.footer {
  background-color: var(--dark-yellow);
  color: var(--white-smoke);
}

.footer-box {
  display: flex;
  padding: 90px 64px;
  gap: 40px;
  justify-content: space-around;
  flex-direction: column;
}

.footer-box-item-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-box-item-1 h2 {
  font-size: 40px;
}

.footer-box-item-1 a {
  padding: 16px 32px;
  height: 56px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-brown);
  border-radius: 12px;
  text-decoration: none;
  color: var(--dark-yellow);
  font-weight: 700;
  font-size: 18px;
}

.footer-box-item-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  padding: 20px 10px;
}

.item-box-info {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-box-item-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.info-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: var(--light-brown);
}

.info-list ion-icon {
  width: 20px;
  height: 20px;
}

.info-list a {
  text-decoration: none;
  list-style: none;
  color: var(--white-smoke);
}

.footer-box-item-1 h2,
.item-box-info h3,
.footer-box-item-3 p {
  color: var(--light-brown);
}
